*{
    padding: 0;
    margin: 0;
}

body{
    height: 80vh;
    width: 100%;
    box-sizing: border-box;
     overflow-x: hidden;
}

.container{
    height: 74vh;
    width: 80%;
    margin: 6em;
    background: #e9e8ec;
    box-sizing: border-box;
    box-shadow: 3px 4px 10px 1px rgba(0, 0, 0, 0.25);
   
}

header{
    height: 2em;
    width: 100%;
    background: whitesmoke;
    text-align: center;
}
.bi{
    cursor: pointer;
}

.bi-list, .bi-x-lg{
    display: none;  

}

nav{
    height: auto;
    width: auto;
    background-color: none;
   
    position: unset;
    text-align: center;
    
}
nav.open{
    display: block;
}

ul{
    display: inline-block;
}

li{
   list-style-type: none;
   display: inline-block;
   padding: .7em .7em;
}

a{
    text-decoration: none;
    color: black;
    font-size: 14px;   
}

li a:hover{
    font-size: 16px;
    font-weight: 600;
    color: rgb(28, 5, 50);
    text-decoration: underline;
}

li a:checked{
    color: red;
    text-decoration: underline;
}
section{
    height: 24em;
    width: 100%;
    /* background: yellowgreen; */
    display: flex;
    flex-direction: row;

}

.section-a{
    height: 24em;
    width: 45%;
    /* background-color: antiquewhite; */
    text-align: center;
    justify-content: center;
    animation: up 2s forwards;
}

.section-b{
    height: 24em;
    width: 55%;
    /* background: rgb(234, 230, 230); */
    text-align: center;
    justify-content: center;
}

.section-a-content{
    margin-top: 10em;
}

.section-a-content p{
    font-size: 13px;
}

.bi-facebook, .bi-instagram, .bi-linkedin{
    font-size: 14px;
    padding: 0 .7em;
    color: blue;
}
.bi-instagram{
    color: brown;
}
.bi-linkedin{
    color: darkblue;
}

.section-b-content{
    margin-top: 5em;
    width: auto;
    height: auto;
}

.section-b-content img:hover{
   /* opacity: 0.4; */
   height: 210px;
}

.section-b-content img{
    animation: down 4s forwards;
}

@keyframes up {
    from{
        opacity: 0;
        transform: translateY(-2em);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}

    @keyframes down {
        from{
            opacity: 0;
            transform: translateX(100%);
        }
    
        to{
            opacity: 1;
            transform: translateX(0);
        }
}
footer{
    height: 2em;
    text-align: center;
    width: 100%;
    background-color: whitesmoke;
    padding-top: .7em;
}

@media (max-width: 900px) {
    
    .section-b-content img{
        height: 250px;
    }
}

@media (max-width: 728px) {

    .container{
        margin: 1em;
        margin-top: 0;

    }
    header{
        height: 2em;
        background: rgb(66, 79, 66);
    }
    .container{
        height: auto;
    }
    nav{
        height: 50vh;
        width: 40%;
        background-color:rgb(66, 79, 66);
        z-index: 999;
        position: absolute;
        top: 32px;
        text-align: right; 
        right: 129.5px; 
    }
    .bi-list, .bi-x-lg{
        display: flex;
        cursor: pointer;
        padding-top: 7px;
        position: absolute; 
        right: 9em;
        color: white;
    }
    .bi-list{
        padding-left: 1em;
        cursor: pointer;
    }
  
    ul{
        padding-top: 2em;
    }

    li{
        display: block;
    }
    a{
        color: white;
    }
    .section-b-content img{
        height: 250px;
    }
}

.hide{
    display: none;
}

.slide{
    right: -100%;
}

@media (max-width: 700px) {

    body{
        height: auto;
    }
    header{
        background: rgb(40, 48, 40);
    }
    .container{
        height: auto;
        margin: 1em;
        margin-top: 0;
    }
    nav{
        height: 50vh;
        width: 40%;
        background-color:rgb(40, 48, 40);
        z-index: 999;
        position: absolute;
        top: 32px;
        text-align: right; 
        right: 115.5px; 
    }
    .bi-list, .bi-x-lg{
        display: flex;
        cursor: pointer;
        padding-top: 7px;
        position: absolute; 
        right: 9em;
        color: white;
    }
    .bi-list{
        padding-left: 1em;
        cursor: pointer;
        /* right: 10em; */
    }

    ul{
        padding-top: 2em;
    }

    li{
        display: block;
   
    }
    section{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        place-items: center;
    }
    .section-b-content img{
        height: 250px;
    }

    .section-b-, .section-a{
        height: 10em ;
    }

    .section-b-content{
        margin-top: 2em;
        width: auto;
        height: auto;
    }
    .section-a-content{
        margin-top: 5em;
    }
}

.hide{
    display: none;
}

.slide{
    right: -100%;
}

@media (max-width: 480px) {

    body{
        height: auto;
    }
    header{
        background: rgb(40, 48, 40);
    }
    .container{
        height: auto;
        margin: 1em;
        margin-top: 0;
    }
    nav{
        height: 50vh;
        width: 40%;
        background-color:rgb(40, 48, 40);
        z-index: 999;
        position: absolute;
        top: 32px;
        text-align: right; 
        right: 76.5px; 
    }
    .bi-list, .bi-x-lg{
        display: flex;
        cursor: pointer;
        padding-top: 7px;
        position: absolute; 
        right: 6em;
        color: white;
    }
    .bi-list{
        padding-left: 1em;
        cursor: pointer;
        /* right: 10em; */
    }

    ul{
        padding-top: 2em;
    }

    li{
        display: block;
   
    }
    section{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        place-items: center;
    }
    .section-b-content img{
        height: 200px;
        align-items: center;
        position: absolute;
        left: 15%;
    }

    .section-b-, .section-a{
        height: 10em ;  
    }

    .section-b-content{
        margin-top: 2em;
        width: auto;
        height: auto;
        
    }
    .section-a-content{
        margin-top: 5em;
    }

    .hide{
        display: none;
    }
    
    .slide{
        right: -100%;
    }
}